
body {
  margin: 0;
  padding: 0;
  background-color: #212338;
}

  select {
    width: 95%;
    height: 115px;
    border-radius: 5px;
    border: 1px solid #F3E8E2;
    display: flex;
    position: fixed;
    background-color:#212338;
    margin-top: 20px;
    margin-left: 20px;
    color: #F3E8E2;
    font-size: 80px;
}

select:focus {
    outline:none;
}

