

body {
box-sizing: border-box;
margin: 0;
padding: 0;
background-color: #101619;
color: #E1E6E1;
display:flex;
justify-content: center;
align-items: center;
  flex-direction:column;
}


@font-face {
font-family: "Anderson";
src: url("./Fonts/Anderson Grotesk/AndersonGrotesk.otf") format("opentype");
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: "Anderson";
src: url("./Fonts/Anderson Grotesk/AndersonGrotesk-Bold.otf") format("opentype");
font-weight: bold;
font-style: normal;
}

@font-face {
font-family: "Anderson";
src: url("./Fonts/Anderson Grotesk/AndersonGrotesk-Light.otf") format("opentype");
font-weight: lighter;
font-style: normal;
}

@font-face {
font-family: "Space";
src: url("./Fonts/Space_Mono/SpaceMono-Regular.ttf") format('truetype');
font-weight: normal;
font-style: normal;
}


.title {
  width: 100%;
  height: 150px;
  font-size: 70px;
  font-family: 'Anderson', Helvetica, sans-serif;
  font-weight: bold;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  
}

.subTitle {
  width: 100%;
  height: 50px;
  font-family: 'Anderson', Helvetica, sans-serif;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-bottom: 80px;
 
}


.graph {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}


