
@font-face {
font-family: "Jost";
src: url("Jost-300-Light.otf") format("opentype");
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: "Jostb";
src: url("Jost-400-Book.otf") format("opentype");
font-weight: bold;
font-style: bold;
}


body {
	font-family: "Jost", Arial;
	font-size: 16px;
	line-height: 1.25;
	color: #f0f8ff;;
	margin: 0;
	padding: 0;
}


.title {
  font-family: 'Jostb';
  font-size: 50px;
  padding-top: 5%;
  margin-left: 5%;
}

span {
  color: #BD0F30;
}


#intro {
  width: 70%;
  font-size: 26px;
  line-height: 1.5;
  text-align: justify;

}

a{
  color: #91C7B1;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}


#subtitle {
  font-family: 'Jostb';
  font-size: 20px;
  padding-top: 40px;
  display:flex;
  justify-content: center;
}


.content {
  padding-top: 10%;
  padding-left: 5%;
  
}

.content2 {
  padding-top: 15%;

}

.max {
  max-height: 40%
}

section, section.s3 {
  background-color: #0B0B0B;
  min-height: 100vh;

}


section.s2, section.s4 {
  background-color: #0F141A;
  min-height: 100vh;

}


div.progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 10px;
  background-color: #F3E8E2;
  z-index: 1;
}

#section2 {
  display: flex;
  justify-content: center;
  
}

#wrapper1 {
	width: 25%;
	display: grid;
  grid-gap: 10px;
	grid-template-columns: repeat(3, auto);
	font-size: 16px;
	text-align: center;

}


.urbanp {
  border: 1px solid rgb(145,199,177);
  max-height: 40%;
}

.urbandata {
  color: rgb(145,199,177);
  
}

.ruralp {
  border: 1px solid #F68E5F;
  max-height: 40%;
}

.ruraldata {
  color: #F68E5F;
}

.bar {
  fill: #86A397;
}

text {
  fill: #fff;
}

path {
  stroke: gray;
}

line {
  stroke: gray;
}

line#limit {
  stroke: #FED966;
  stroke-width: 3;
  stroke-dasharray: 3 6;
}

.grid path {
  stroke-width: 0;
}

.grid .tick line {
  stroke: #9FAAAE;
  stroke-opacity: 0.3;
}

text.divergence {
  font-size: 14px;
}

text.value {
  font-size: 14px;
}

#graph1 {
  padding-left: 200px;
}

#g-one {
  padding-bottom: 40px;
}




